<p-table [loading]="loading()" [value]="carpoolingList() || []">
  <ng-template #header>
    <tr>
      <th>Date de départ</th>
      <th>Adresse de départ</th>
      <th>Adresse d'arrivée</th>
      <th>Véhicule</th>
      <th>Places restantes</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-carpooling>
    <tr>
      <td>{{ carpooling.dateTimeStart | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ carpooling.departureAddress | capitalize }}</td>
      <td>{{ carpooling.arrivalAddress | capitalize }}</td>
      <td>{{ carpooling.vehicle.brand }} {{ carpooling.vehicle.model }}</td>
      <td>{{ carpooling.nbSeats }}</td>


      <td>
        <div class="d-flex flex-row gap-2">
          @if (!isArchived()) {
            <p-button severity="danger" (click)="confirmCancel($event, carpooling.id)" label="Annuler"></p-button>
          }
          <p-button (click)="goTo(carpooling.id)" [label]="isArchived() ? 'Voir' : 'Modifier'"></p-button>
        </div>
      </td>

    </tr>
  </ng-template>


  <ng-template #emptymessage>
    <tr>
      <td colspan="7" class="text-center">Vous n'avez aucune réservation</td>
    </tr>
  </ng-template>

</p-table>
<p-confirmDialog/>
