<p-table [loading]="loading()" [value]="carpoolingList() || []">
  <ng-template #header>
    <tr>
      <th>Date de départ</th>
      <th>Adresse de départ</th>
      <th>Adresse d'arrivée</th>
      <th>Véhicule</th>
      <th>Places restantes</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template #body let-carpooling>
    <tr>
      <td>{{ carpooling.dateTimeStart | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ carpooling.departureAddress | capitalize }}</td>
      <td>{{ carpooling.arrivalAddress | capitalize }}</td>
      <td>{{ carpooling.vehicle.brand }} {{ carpooling.vehicle.model }}</td>
      <td>{{ carpooling.nbSeats }}</td>

      <td>
        <p-button (click)="edit(carpooling.id)" label="Voir" class="me-1"></p-button>
      </td>
      @if (!isArchived()) {
        <td>
          <p-button severity="danger" (click)="cancel(carpooling.id)" label="Annuler"></p-button>
          <p-button (click)="edit(carpooling.id)" label="Modifier"></p-button>
        </td>
      }
    </tr>
  </ng-template>


  <ng-template #emptymessage>
    <tr>
      <td colspan="7" class="text-center">Vous n'avez aucune réservation</td>
    </tr>
  </ng-template>

</p-table>
