<p-table [loading]="loading()" [value]="serviceVehicleBookingList() || []">
  <ng-template #header>
    <tr>
      <th>Véhicule</th>
      <th>Début</th>
      <th>Fin</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template #body let-booking>
   <tr *ngIf="!isSelectedBooking(booking)">
      <td>{{ booking.licensePlateNumber | capitalize }}</td>
      <td>{{ booking.dateTimeStart | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ booking.dateTimeEnd | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>
        <p-button label="Voir véhicule" class="me-1" (click)="viewDetails(booking)"></p-button>
      </td>
      <td *ngIf="!isArchived()">
          <p-button label="Modification" class="me-1" (click)="modify(booking)"></p-button>
      </td>
       <td *ngIf="!isArchived()">
        
          <p-button severity="danger" (click)="confirm($event, booking.id)" label="Annuler"></p-button>
        </td>
    </tr>
  </ng-template>


  <ng-template #emptymessage>
    <tr>
      <td colspan="7" class="text-center">Vous n'avez aucune réservation</td>
    </tr>
  </ng-template>

</p-table>

<p-confirmDialog></p-confirmDialog>

<div *ngIf="selectedBooking && selectedVehicle" class="mt-4 p-4 border rounded shadow-sm">
  <div class="mt-4 p-4 border rounded shadow-sm">
    <div class="flex gap-4">
      <img [src]="selectedVehicle.photoUrl" alt="Photo du véhicule"
        style="width: 200px; height: auto; object-fit: cover;" />
      <div>
        <p><strong>Immatriculation :</strong> {{ selectedVehicle.licensePlateNumber }}</p>
        <p><strong>Marque :</strong> {{ selectedVehicle.brand }}</p>
        <p><strong>Modèle :</strong> {{ selectedVehicle.model }}</p>
        <p><strong>Nombre de places :</strong> {{ selectedVehicle.nbSeats }}</p>
        <p *ngIf="selectedVehicle.co2Km !== undefined">
          <strong>CO₂/km :</strong> {{ selectedVehicle.co2Km }}
        </p>
      </div>
    </div>
  </div>
<p-button *ngIf="selectedBooking" label="Retour à la liste" (click)="resetSelection()"></p-button>
