<app-title [title]="'Nouvelle réservation'"></app-title>
<form [formGroup]="form" (ngSubmit)="submitBooking()">
  <label for="vehicleId">Sélectionner un véhicule:</label>



  <p-select formControlName="vehicle" [options]="serviceVehicles" optionLabel="licensePlateNumber"
    optionValue="licensePlateNumber" placeholder="Sélectionner un vehicule" class="w-full md:w-56" />


  <label for="dateTimeStart">Date et heure de début:</label>
  <p-datepicker formControlName="dateTimeStart" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
    [showTime]="true" />

  <label for="dateTimeEnd">Date et heure de fin:</label>
  <p-datepicker formControlName="dateTimeEnd" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
    [showTime]="true" />

  <button type="submit">Réserver</button>
</form>