<app-title [title]="'Rechercher un covoiturage'"></app-title>
<form [formGroup]="form" (submit)="search()" class="d-flex flex-row justify-content-around">
  <div class="d-flex flex-column gap-2">
    <label for="departureAddress">Adresse de départ</label>
    <input pInputText id="departureAddress" aria-describedby="departureAddress" formControlName="departureAddress"/>
  </div>
  <div class="d-flex flex-column gap-2">
    <label for="arrivalAddress">Adresse d'arrivée</label>
    <input pInputText id="arrivalAddress" aria-describedby="arrivalAddress" formControlName="arrivalAddress"/>
  </div>
  <div class="d-flex flex-column gap-2">
    <label for="arrivalAddress">Date de départ</label>
    <p-datePicker
      inputId="dateTimeStart"
      formControlName="dateTimeStart"
      [iconDisplay]="'input'"
      [showIcon]="true"
    >
    </p-datePicker>
  </div>
  <div class="h-auto d-flex align-items-end">
    <p-button type="submit" label="Rechercher" icon="pi pi-search" [disabled]="!form.valid"></p-button>
  </div>
</form>

<div class="mt-5">
  <p-table [loading]="loading()" [value]="carpoolingList() || []">
    <ng-template #header>
      <tr>
        <th class="text-center">Date de départ</th>
        <th class="text-center">Adresse de départ</th>
        <th class="text-center">Adresse d'arrivée</th>
        <th class="text-center">Véhicule</th>
        <th class="text-center">Places restantes</th>
        <th class="text-center">Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-carpooling >
      <tr [ngClass]="{'bg-light text-muted': carpooling.nbSeatsRemaining === 0}">
        <td>{{ carpooling.dateTimeStart | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ carpooling.departureAddress | capitalize }}</td>
        <td>{{ carpooling.arrivalAddress | capitalize }}</td>
        <td>{{ carpooling.vehicle }}</td>
        <td>{{ carpooling.nbSeatsRemaining }} / {{carpooling.nbSeats}}</td>

        <td>
          @if (carpooling.nbSeatsRemaining > 0 && carpooling.dateTimeStart >= Date.now() && !carpooling.hasBooked) {
            <p-button label="Réserver" class="me-1" (click)="openModalsaveBooking($event, carpooling)"></p-button>
          }
          @if (carpooling.hasBooked) {
            <p-button label="Annuler" severity="warn" class="me-1" (click)="cancelBooking($event, carpooling)"></p-button>
          }
        </td>
      </tr>
    </ng-template>


    <ng-template #emptymessage>
      <tr>
        @if (isSubmitted()) {
          <td colspan="7" class="text-center">Aucune annonce ne correspond à votre recherche</td>
        } @else {
          <td colspan="7" class="text-center">Veuillez saisir au moins un critère de recherche</td>
        }
      </tr>
    </ng-template>

  </p-table>
</div>
<p-confirmDialog />
