<div class="d-flex flex-row justify-content-between">
  <app-title [title]="'Mes réservation de covoiturage'"></app-title>
  <p-button [routerLink]="['..', 'search']" label="Rechercher un covoiturage"></p-button>
</div>

<p-tabs value="0">
  <p-tablist>
    <p-tab (click)="activeTabValue = 0" value="0">En cours</p-tab>
    <p-tab (click)="activeTabValue = 1" value="1">Historique</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      @if (activeTabValue === 0) {
        <app-carpooling-booking-list-table></app-carpooling-booking-list-table>
      }
    </p-tabpanel>
    <p-tabpanel value="1">
      @if (activeTabValue === 1) {
        <app-carpooling-booking-list-table [isArchived]="true"></app-carpooling-booking-list-table>
      }
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>


